@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Readex Pro", sans-serif;
  font-weight: 500;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #4448ff;
}
.nav {
  position: relative;
  width: 700px;
  background: #fff;
  height: 100px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  border-radius: 20px;
}
.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
}
.nav ul li {
  list-style-type: none;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  width: 140px;
}
.nav ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  color: #000;
}
.nav ul li a .icon {
  font-size: 3em;
}
.indicator {
  position: absolute;
  top: -15%;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  transition: 0.5s;
  border: 9px solid #4448ff;
}
.indicator::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 6px;
  left: -17px;
  border-top-right-radius: 20px;
  background: transparent;
  box-shadow: 2px -4px 0 0 #4448ff;
  z-index: 22;
}
.indicator::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 6px;
  right: -17px;
  border-top-left-radius: 20px;
  background: transparent;
  box-shadow: 0px -4px 0 0 #4448ff;
  z-index: 22;
}

/* After JS */
.nav ul li.active a .text,
.nav ul li.active a .icon {
  color: #4448ff;
}
.nav ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(140px * -2));
}
.nav ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(140px * -1));
}
.nav ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(140px * 1));
}
.nav ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(140px * 2));
}
